<!DOCTYPE html>
<html>
<head>
	<title>Predicting Audiograms</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

	<h1><CENTER>Predicting Audiograms</CENTER></h1>
	<form id="myform" method="POST">
		<input type="text" name="2k" placeholder="Enter 2k value"><br><br>
		<input type="text" name="4k" placeholder="Enter 4k value"><br><br>
		<input type="text" name="6k" placeholder="Enter 6k value"><br><br>

	</form>
	<button id="predict">Predict</button>
	<h2 id="result"></h2>

</body>
</html>